@model SaleViewModel?
@using Neo.Wallets

@if (@Model == null) 
{
    <div>Sale not confirmed</div>
}
else
{
<table>
    <tr>
        <td>Sale ID</td>
        <td>@Model.SaleId</td>
    </tr>
    <tr>
        <td>Seller</td>
        <td>@Model.Seller.ToAddress())</td>
    </tr>
    <tr>
        <td>Buyer</td>
        <td>@Model.Buyer?.ToAddress()</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <td>State</td>
        <td>@Model.State</td>
    </tr>
</table>
}